#start-game {
	margin-bottom: 25px;
	padding: 20px 0 20px 0;
	width: 200px;
	background: $green;
	color: white;

	&:hover {
		background: darken($green, 20%);
	}
}

/*------------------------------*/

/* Image */

#image-container {
	overflow: hidden;
	width: 50%;
	margin-top: 50px;
	padding: 20px;
	background: white;
	border-radius: 4px;
	box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
}

#image-container img {
	background-size: cover;
	width: 80%;
	height: auto;
	margin: 10px 0 10px 0;
	border-radius: 5px;
	overflow: hidden;
}

/*------------------------------*/

/* Answer Section */

#input-container {
	max-width: 400px;
	margin: 30px 0 0 0;

	input {
		width: 100%;
		height: 50px;
		border: none;
		text-align: center;
		font-size: 1rem;
		transition: all 0.2s ease;

		&:focus {
			outline: none;
			box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
		}
	}
}

#controls {
	margin: 25px 0 25px 0;

	.control-options {
		display: inline-block;
		background: white;
		color: black;
		font-size: 1rem;
		text-align: center;
		box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
		margin: 0 10px;

		&:hover {
			background: rgba(0,0,0,0.2);
		}
	}
}

.alert {
	margin-top: 20px;
}

/*------------------------------*/

/* Settings */

.checkbox {
	margin: 0 auto;
}

#options {
	margin-bottom: 25px;
}