extends partials/layouts/_layout
block content
	#wrap.container
		img#logo(src='/static/imgs/logo.svg')
		h3.text-center#intro Select an event:
		#options.container
			//- .checkbox
			//- 	input#sci-names(type="radio", name="event", checked=true, value='0B4ZEBluRJ7VuYjBfYW9KOGI5aXM')
			//- 	| Microbe Mission
			.checkbox
				input#common-names(type="radio", name="event", value='0B4ZEBluRJ7VuV2U1RTJ4aU5oRjQ', checked=true)
				| Rocks & Minerals
			.checkbox
				input#common-names(type="radio", name="event", value='0B4ZEBluRJ7VudzVvQUZ6WWpDRzA')
				| Herpetology
		a#start-game START
		#image-container.container.hidden
			#loading-wrapper.hidden
				#loading
			img(src="", alt="img failed to load")
		#input-container.container.text-center.hidden
			input#answer-box(type='text', placeholder='Answer')
			h4#answer.hidden
			#result.hidden(role="alert") Correct!
		#controls.hidden.flex.center-both
			a.fa.fa-eye#show-ans.control-options
			a.fa.fa-angle-right#skip.control-options
			a.fa.fa-info#help-button.control-options
			#stats.control-options
				ul.flex.center-both
					li
						.fa.fa-check
						span#correct 0
					li
						.fa.fa-times
						span#wrong 0
					span#divider
					li
						span#percent 0%
	include partials/_modal